@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Raleway";

  overflow-y: scroll;
}

:root {
  --primary-green-200: hsl(110, 50%, 60%);
  --primary-green-400: hsl(110, 30%, 50%);
  --primary-green-800: #041a00;
  --secondary-green-100: hsl(191, 27%, 92%);
  --secondary-red-400: #b21a1a;
  --primary-black-100: hsl(0, 0%, 50%, 1);
  --primary-black-300: rgba(31, 31, 31, 1);
  --primary-black-700: hsl(0, 0%, 0%, 1);

  --root-padding-buffer: calc(70px + 1vw);

  --border-radius-master: 5px;

  --card-theme-bg-100: hsl(226, 20%, 29%);
  --card-theme-bg-200: hsl(201, 21%, 35%);
  --card-theme-bg-300: hsl(176, 28%, 35%);
  --card-theme-bg-400: hsl(161, 35%, 48%);

  background-color: var(--secondary-green-100);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
a,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
}

a {
  text-decoration: none;
}

button,
a {
  color: inherit;
  cursor: pointer;
}

#root {
  position: relative;
  width: 100%;

  padding-inline-start: var(--root-padding-buffer);

  isolation: isolate;
}

.sr-only {
  position: absolute;
  top: -200%;
  left: -200%;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.green-button {
  background-color: var(--primary-green-400);
  border-radius: var(--border-radius-master);
  border: 0;
  padding-block: 0.6rem;
  padding-inline: 1.75rem;

  font-size: 0.8rem;
  font-weight: 700;
  text-transform: capitalize;

  filter: drop-shadow(0px 2px 2px hsl(0, 0%, 0%, 0.25));

  transition: filter 250ms ease;
}

.green-button:hover {
  filter: drop-shadow(0px 2px 1px hsl(0, 0%, 0%, 0.25)) brightness(1.2);
}

.rounded-input {
  border-radius: var(--border-radius-master);
  border: 0;
  padding: 0.8rem;

  width: 100%;
  color: var(--primary-black-700);
}
.rounded-input::placeholder {
  text-transform: capitalize;

  color: var(--primary-black-100);
  opacity: 0.65;
}
.rounded-input:focus {
  outline: 1px solid hsl(0, 0%, 10%, 0.25);
}

.main-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  padding-block-start: calc(1rem + 75px);

  font-size: clamp(1rem, 10vw, 1.75rem);
  color: #fff;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  height: 100%;
  min-height: 500px;
  border-radius: 0 15px 15px 0;

  background-color: var(--primary-black-300);

  filter: drop-shadow(2px 0px 1px hsl(0, 0%, 0%, 0.5));

  z-index: 20;
}

.main-nav ul {
  list-style: none;
  flex-grow: 1;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.main-nav ul li a,
.nav--logout {
  transition: color 250ms ease;
}
.main-nav ul li a:active,
.nav--logout:active {
  scale: 0.9;
}

.main-nav ul li a:hover,
.nav--logout:hover {
  color: var(--primary-green-400);
}

.main-nav ul li a {
  color: inherit;
}

.nav--logout {
  margin-block-start: auto;

  color: inherit;
  font-size: inherit;

  background: transparent;
  border: 0;
}

.disable {
  cursor: not-allowed;
  color: #fff;
  background-color: var(--primary-black-100);
}
#root > .flex.flex-row {
  min-height: 100vh;
}
/* #root > .flex.flex-row {
  isolation: isolate;
}

#root > .flex.flex-row > .main-nav {
  z-index: 15;
} */

#root > .flex.flex-row > .p-4 {
  /* isolation: isolate; */

  padding-block-start: calc(75px + 1rem);
  width: 98%;

  /* z-index: 16; */
}

#root > .flex.flex-row > .p-4 > .p-4 > form {
  width: min(420px, 90%);

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0rem;
}

/* #root > .flex.flex-row > .p-4 > div:not(.main-nav) > .overflow-x-auto {
  width: min(900px, 90%);
  margin-inline-end: auto;
  background-color: white;
  padding: 2rem 1.5rem;
  border-radius: 5px;
}

#root > .flex.flex-row > .p-4 .overflow-x-auto table {
  width: 100%;
}

table * {
  border-radius: 0%;
} */

/* #root > .flex.flex-row > .p-4 .overflow-x-auto table * {
  width: 100%;
  background-color: transparent;
} */

/* #root > .flex.flex-row > .p-4 .overflow-x-auto table tr {
  display: grid;
  grid-template-columns: auto repeat(3, 1fr);
} */

/* #root > .flex.flex-row > .p-4 .overflow-x-auto table th {
  width: fit-content;
} */

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 75px;

  z-index: 30;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  /* background-color: var(--secondary-green-100); */
  background-image: linear-gradient(
    140deg,
    hsl(110, 100%, 20%) 1%,
    hsl(110, 20%, 60%) 40%,
    hsl(190, 20%, 85%) 60%,
    hsl(190, 20%, 90%) 70%
  );

  padding-inline: 35px;
  box-shadow: 0px 2px 5px 0px hsl(0, 0%, 0%, 0.25);

  isolation: isolate;
}

.main-header::before {
  z-index: -2;

  content: "대은행";
  position: absolute;
  top: 0;
  right: 80px;

  font-size: 3rem;
  font-weight: 900;
  font-family: "Noto Sans KR", sans-serif;
  color: hsl(120, 100%, 40%, 0.1);

  opacity: 0.3;
}

.app-name {
  color: white;
  font-size: 2rem;
  font-weight: 600;

  position: relative;

  isolation: isolate;
}
.app-name span {
  color: var(--primary-green-200);
  filter: brightness(1.2);
}

.greet-user {
  position: relative;
  margin-inline-end: 1rem;
}
.greet-user::after {
  position: absolute;
  bottom: 0px;
  right: -40px;

  content: "";
  aspect-ratio: 1 / 1;
  width: 30px;
  /* display: inline-block; */
  /* vertical-align: middle; */
  margin-inline: 0.5rem;

  background-image: url(assets/icons/heart.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;

  scale: 0.9;
  transform: rotate(10deg);

  z-index: -1;
}

/* bg flavor */
#root::after {
  /* content: "대은행"; */
  content: "";
  display: block;

  position: absolute;
  inset: 0;

  z-index: -2;
  opacity: 0.6;

  background-image: linear-gradient(
    180deg,
    hsla(120, 100%, 27%, 0.25),
    transparent
  );

  transition: background-image 1s ease-in-out;
}

.greet-user span {
  font-weight: 600;
  text-transform: capitalize;
}

.dash-title,
.component-header {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}

.main-nav ul li:has(i),
.main-nav button:has(i) {
  position: relative;
}
.main-nav ul li:has(i)::before,
.main-nav ul li:has(i)::after,
.main-nav button:has(i)::before,
.main-nav button:has(i)::after {
  position: absolute;
  opacity: 0;
  visibility: hidden;

  transition: opacity 250ms ease-in-out;
}
.main-nav button:has(i)::before,
.main-nav ul li:has(i)::before {
  content: "";

  box-shadow: 0px 2px 2px hsl(0, 0%, 0%, 0.25);

  color: var(--secondary-green-100);

  top: -10px;
  left: calc(100% + 16px);

  padding: 0.5rem;
  background-color: hsl(110, 30%, 50%, 0.8);

  border-radius: 5px;

  font-size: 0.9rem;
}
.main-nav button:has(i)::after,
.main-nav ul li:has(i)::after {
  content: "";
  display: block;
  aspect-ratio: 1 / 1;
  width: 0px;

  top: 8px;
  left: calc(100% + 8px);
  border-color: transparent;
  border: 6px solid transparent;
  border-left: 0;
  border-right: 8px solid hsl(110, 30%, 50%, 0.8);
}

.main-nav ul li:has(.fa-chart-line)::before {
  content: "Dashboard";
}
.main-nav ul li:has(.fa-table-list)::before {
  content: "Transactions";
}
.main-nav ul li:has(.fa-user-plus)::before {
  content: "Create Account";
}
.main-nav ul li:has(.fa-users-gear)::before {
  content: "Users";
}
.main-nav ul li:has(.fa-piggy-bank)::before {
  content: "Deposit";
}
.main-nav ul li:has(.fa-hand-holding-dollar)::before {
  content: "Withdraw";
}
.main-nav ul li:has(.fa-vault)::before {
  content: "Manage";
}
.main-nav ul li:has(.fa-money-bill-transfer)::before {
  content: "Transfer";
}
.main-nav ul li:has(.fa-wallet)::before {
  content: "Budget";
}
.main-nav button:has(.fa-right-from-bracket)::before {
  content: "Logout";
}

.main-nav ul li:hover::before,
.main-nav ul li:hover::after,
.main-nav button:hover::before,
.main-nav button:hover::after {
  opacity: 1;
  visibility: visible;
}

.user-page {
  width: 100%;
}

/* .user-page,
.admin-page {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: auto repeat(2, 1fr);
  gap: 2rem;
} */

.users-page .users-list1,
.users-page .users-list1 > * {
  width: 100%;
  margin-block-end: auto;
}

.users-page .users-list1 * {
  background-color: transparent;
  border-radius: 0 !important;
  border: 0;
}

.users-page .users-list1 {
  position: relative;

  background-color: white;
  box-shadow: 0px 2px 4px hsl(0, 0%, 0%, 0.25);
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}

.users-page .users-list1 thead {
  background-color: hsl(110, 50%, 85%, 1);

  position: sticky;
  top: 0;
}

.users-page .users-list1::-webkit-scrollbar {
  width: 6px;
  background-color: white;

  padding: 1px;

  border-radius: 0 15px 15px 0;

  overflow: hidden;
  margin-block: 5px;
}

.users-page .users-list1::-webkit-scrollbar-track {
  margin-block: 5px;
}

.users-page .users-list1::-webkit-scrollbar-thumb {
  background-color: var(--primary-green-400);

  border-radius: 15px;
}

/* .users-page .users-list1 > table {
} */

.users-page .users-list1 > table tr:nth-child(odd) {
  background-color: hsl(0, 0%, 0%, 0.05);
}

.users-page .users-list1 > table tr td {
  overflow: hidden;
}

.admin-page > div .component-header,
.user-page > div .component-header {
  font-size: 1.25rem;
  font-weight: 600;
  margin-block: 1.2rem;
}
/* .admin-page > div .component-header::before, */
/* .user-page > div */
.component-header::before {
  content: "";
  aspect-ratio: 1 / 1;
  width: 12.5px;

  display: inline-block;
  margin-inline: 10px;
  border-radius: 500px;

  background-image: linear-gradient(0deg, rgb(0, 121, 0), rgb(141, 208, 141));
}
.account-details > div {
  padding: 1rem;
  background-color: white;
  width: min(350px, 100%);
  border-radius: 0.5rem;
}
.account-details > div table {
  width: 100%;
}
.account-details > div table th,
.account-details > div table td {
  text-align: left;
}
/* .admin-page > div > div {
  padding: 1rem 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
} */
/* .admin-page > div > div table {
  width: min(560px, 90%);
} */

[data-role="user"]
  li:is(:has(a[href="/create-account"]), :has([href="/users"])) {
  display: none;
}
[data-role="admin"]
  li:is(:has(a[href="/expenses"]), :has([href="/users"])) {
  display: none;
}
.green-button.view-more {
  font-size: 0.7rem;
  padding: 0.25rem;
  background-color: white;
}

.card-manager,
.admin-dash {
  width: min(420px, 90%);
  margin-inline-end: auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 0.75rem;
}

.card-placeholder,
.manage-link {
  flex-grow: 1;
  flex-shrink: 1;
}

.manage-link,
.quick-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  padding: 0.25rem 1.5rem;

  border-radius: 5px;

  font-weight: 600;

  cursor: pointer;
}
.manage-link::after,
.quick-link::after {
  content: ">";
  color: var(--primary-green-200);
  display: block;
  font-size: 1.5rem;
  font-weight: 800;
}

.manage-link:hover,
.quick-link:hover {
  filter: brightness(1.1);
}

.card-placeholder {
  position: relative;

  width: 100%;
  aspect-ratio: 793 / 500;

  cursor: pointer;

  border-radius: 12px;

  transition: scale 250ms ease-in-out;
}

.card-placeholder:hover {
  scale: 1.01;
}

.back.card-face {
  transform: rotateY(180deg);
}

.card-face {
  overflow: hidden;
  border-radius: inherit;

  position: absolute;

  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    45deg,
    hsl(226, 20%, 46%) 10%,
    var(--card-theme-bg-100)
  );

  transition: transform 0.6s;
  transform-style: preserve-3d;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  padding: 1rem;

  font-size: 1.1rem;
  text-transform: capitalize;
  color: white;
  box-shadow: 1px 2px 3px hsl(0, 0%, 0%, 1);
}

.card-face.a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0rem;

  padding-block-start: 25px;
  padding-inline-start: 85px;

  isolation: isolate;
}

.card-face.a::before,
.card-face.a::after {
  position: absolute;
}

.card-face.a::before {
  content: "";

  aspect-ratio: 1 / 1;
  width: 200px;

  transform: rotate(-20deg);
  bottom: 0;
  right: 0;

  background-image: url(/src/assets/icons/heart.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert(1);
  opacity: 0.02;
}

.card-face.a::after {
  content: "대은행";

  font-family: "Noto Sans KR", sans-serif;
  font-size: 15rem;
  font-weight: 800;

  top: -50%;
  left: -110%;

  opacity: 0.02;
}

.card-face.a i {
  position: absolute;
  top: 25px;
  left: 25px;

  padding: 0.6rem;
  background-image: linear-gradient(
    45deg,
    hsl(226, 50%, 99%) 10%,
    var(--card-theme-bg-100)
  );
  border-radius: 100%;
  border: 4px solid hsl(226, 50%, 80%);

  font-size: 1.5rem;
  color: transparent;
  background-clip: text;
}

.card-face.a .cardholder-name {
  font-weight: 600;
}

.card-face.a .account-balance-label {
  margin-block-start: auto;
}

.card-face.a .account-type {
  font-size: 70%;
}

.card-face.a .account-balance-label,
.card-face.a .account-balance {
  align-self: flex-end;
  margin-inline-end: 20px;
}

.card-face.a .account-balance-label {
  font-size: 80%;
}
.card-face.a .account-balance {
  font-weight: 600;
}

.card-face.b {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;

  padding: 1rem 1.5rem;

  isolation: isolate;
}

.card-face.b .app-name {
  --border-size: 6px;
  --border-color: var(--primary-green-200);
  --inline-adjust: -18px;
  --block-adjust: -4px;

  grid-area: 2 / 1 / 3 / -1;

  text-align: center;
  font-size: 2.5rem;

  position: relative;

  isolation: isolate;

  width: max-content;
  margin: auto;

  filter: drop-shadow(0px 2px 4px hsl(0, 0%, 0%, 0.25));
}

.card-face.b .app-name::before,
.card-face.b .app-name::after {
  content: "";
  position: absolute;
  border: 0;

  width: 25%;
  height: 40%;
  background-color: transparent;
}

.card-face.b .app-name::before {
  top: var(--block-adjust);
  left: var(--inline-adjust);

  border-inline-start: var(--border-size) solid var(--border-color);
  border-block-start: var(--border-size) solid var(--border-color);
}
.card-face.b .app-name::after {
  bottom: var(--block-adjust);
  right: var(--inline-adjust);

  border-inline-end: var(--border-size) solid var(--border-color);
  border-block-end: var(--border-size) solid var(--border-color);
}

.card-face.b .card-number,
.card-face.b .mastercard-logo,
.card-face.b .card-expiration {
  align-self: flex-end;
}

.card-face.b .card-number {
  grid-area: 3 / 1 / 4 / 2;
}

.card-face.b .card-expiration {
  grid-area: 3 / 2 / -1 / 3;
  text-align: center;
}

.card-face.b .mastercard-logo {
  grid-area: 3 / 3 / -1 / -1;
  margin-inline-start: auto;

  position: relative;

  text-transform: lowercase;
  font-size: 0.6rem;

  isolation: isolate;
}

.card-face.b .mastercard-logo::before,
.card-face.b .mastercard-logo::after {
  content: "";
  display: block;

  position: absolute;
  top: -30px;

  width: 30px;
  background-color: hsl(0, 100%, 50%, 80%);
  aspect-ratio: 1 / 1;

  border-radius: 100%;
}
.card-face.b .mastercard-logo::after {
  left: 0;
}
.card-face.b .mastercard-logo::before {
  right: 0;
  background-color: orange;
}

.card-face.b::before,
.card-face.b::after {
  z-index: -2;

  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 200%;
  height: 75px;
  rotate: 45deg;
  /*  background-color: green; */
}

.card-face.b::after {
  bottom: 0;
  left: -375px;

  height: 188px;

  background-image: linear-gradient(
    0deg,
    hsl(161, 35%, 42%, 0.8) 0%,
    var(--card-theme-bg-400) 50%,
    hsl(176, 28%, 30%, 0.8) 51%,
    hsl(176, 28%, 32%, 0.8) 65%,
    var(--card-theme-bg-300)
  );
}
.card-face.b::before {
  height: 150px;
  left: -230px;

  background-image: linear-gradient(
    0deg,
    hsl(201, 21%, 30%, 0.8),
    var(--card-theme-bg-200)
  );
}

.transactions > div:nth-child(2) {
  background-color: white;
  padding: 2.5rem 1.5rem;

  border-radius: 5px;
  overflow: hidden;
}

.transactions table {
  width: 100%;
}

.transactions table * {
  border-radius: 0;
  background-color: transparent;
}

.transactions table tbody tr:nth-child(odd) {
  background-color: hsl(0, 0%, 0%, 0.05);
}

.admin-dash {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;

  margin-inline-end: auto;
}

.admin-dash .dash-overview {
  background-image: linear-gradient(
    0deg,
    hsl(110, 60%, 49%),
    hsl(100, 40%, 39%)
  );

  color: white;

  border-radius: 5px;
  padding: 1rem 1.5rem;
}

.dash-overview {
  filter: drop-shadow(0px 2px 4px hsl(0, 0%, 0%, 0.25));
}

.dash-overview .count {
  font-size: 2.5rem;
  font-weight: 600;
}

.dash-overview i {
  position: absolute;
  right: 2rem;
  top: 50%;
  translate: 0 -50%;
  font-size: 2rem;
}

/* --card-theme-bg-100: hsl(226, 20%, 29%);
--card-theme-bg-200: hsl(201, 21%, 35%);
--card-theme-bg-300: hsl(176, 28%, 35%);
--card-theme-bg-400: hsl(161, 35%, 48%); */

.login-container {
  position: absolute;
  inset: 0;

  isolation: isolate;

  overflow: hidden;
}

.login-container::before,
.login-container::after {
  content: "";
  position: absolute;

  z-index: -2;
}

.login-container::before {
  width: 1500px;
  aspect-ratio: 1 / 1;
  background-color: hsl(150, 100%, 10%, 0.4);
  border-radius: 100%;
  top: -712px;
  left: -575px;
}

.login-container::after {
  background-image: url(assets/icons/heart.png);
  width: 400px;
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.05;

  top: 40%;
  right: 0;
  rotate: 20deg;
}

.login-container > .app-name {
  font-size: clamp(3rem, 10vw, 5rem);
  margin-block: 2rem;
}

.login-container input,
.login-container button {
  border-radius: 5px;
}

.login-container button {
  box-shadow: 0px 2px 2px hsl(0, 0%, 0%, 0.1);
  background-color: var(--primary-green-200) !important;
  color: white !important;
}
.login-container button:hover {
  filter: brightness(1.1) !important;
  background-color: var(--primary-green-200) !important;
}

.errorMsg {
  margin-block: 0.5rem;
  color: red;
  font-weight: 800;

  filter: brightness(1.1);
  text-shadow: 0px 1px 1px hsl(0, 0%, 100%, 0.5);
}

.dashchart-container {
  background-color: white;
  padding: 0.5rem;
  border-radius: 5px;
}

.admin-page,
.users-page {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 2rem;
}

.user-page {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 1rem;
}

.admin-page > * {
  width: 100%;
}

@media (max-width: 1000px) {
  .user-page,
  .admin-page,
  .users-page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
}

.admin-page .admin-dash {
  grid-area: 2 / 1 / span 2 / 2;
}
.admin-page .account-details {
  grid-area: 2 / 2 / span 1 / -1;
}
.admin-page .transactions {
  grid-area: 3 / 2 / -1 / -1;
}

.user-page .card-manager {
  grid-area: 2 / 1 / 3 / 2;
}
.user-page .account-details {
  grid-area: 3 / 1 / 4 / 2;
}
.user-page .transactions {
  grid-area: 2 / 2 / -1 / -1;
}

.users-page .users-list1 {
  grid-area: 2 / 1 / 3 / 2;
}
.users-page .account-details {
  grid-area: 2 / 2 / 3 / 3;
}
.users-page .transactions {
  grid-area: 3 / 1 / -1 / -1;
}
